.profile__heading {
  display: flex;
  flex-direction: row;
  align-items:baseline;
}

@media (max-width: 900px) {
  .profile__heading {
    max-width: 282px;
    justify-content: center;
    align-items: flex-end;
  }
}