.popup__input {
  display: block;
  width: 100%;
  border: 0;
  border-bottom: 1px solid rgba(0,0,0,.2);
  background-color: transparent;
  margin-top: 30px;
  padding: 0;
  font-weight: 400;
  font-size: 14px;
  line-height: 17px;
  padding-bottom: 13px;
}

.popup__input:first-of-type {
  margin-top: 0;
}