.popup__container {
  padding: 34px 36px 37px;
  position: relative;
  display: flex;
  flex-direction: column;
  background-color: #FFFFFF;
  border-radius: 10px;
  margin: auto;
  width: 358px;
}

@media (max-width: 900px) {
  .popup__container {
    padding: 0;
    align-items: center;
    width: 282px;
    min-height: 322px;
  }
}