.popup__input-error {
  color: #FF0000;
  font-size: 12px;
  line-height: 1.21;
  font-weight: 400;
  margin: 0;
  padding: 0;
  position: absolute;
  left: 0;
  visibility: hidden;
  top: calc(100% + 5px);
}