.header__logo {
  width: 104px;
  height: 24.4px;
  margin: 0 0 31.5px 27px;
  object-fit: contain;
  display: block;
}

@media (min-width:768px) {
  .header__logo {
    width: 142px;
    height: 33px;
    margin: 0 0 41px;
  }
}