.profile__edit-avatar {
    background-image: url('../../../images/__edit-button.svg');
    background-size: 26px 26px;
    background-color: transparent;
    background-position: center;
    background-repeat: no-repeat;
    height: 120px;
    margin: 0 auto;
  }