.profile__row {
  display: flex;
  flex-direction: row;
  align-items: flex-end;
  min-width: 336px;
}

@media (max-width: 900px) {
  .profile__row {
    max-width: 282px;
    justify-content: center;
    align-items: flex-end;
  }
}