.footer{
  max-width:880px;
  margin: 0 auto;
  margin-top: 66px;
  margin-bottom: 60px;
}

@media (max-width: 600px) {
  .footer{
    max-width: 282px;
    margin-top: 48px;
    margin-bottom: 36px;
  }
}